<div class="container">
  <div class="row">
    <div class="col-md-3">
      </br>
      <div class="well score-well">
        <h3 class="text-center">Scoreboard</h3>
        <hr>
        <p>XP per set: <%= @goal.xp %>xp</p>
        <p>Level: <%= goal_level %></p>
        <p>Total XP: <%= @goal.total_goal_xp %>xp</p>
        <p>Total Count: <%= @goal.activities.sum(:quantity) %></p>
        <p>XP Today: <%= @goal.xp_today %></p>
        <p>Highest Daily Score: N/A</p>
      </div>
    </div>
    <div class="col-md-6 goal-menu">
      <div class="navbarnavbar-default navbar-static-top" role="navigation">
        <div class="collapse navbar-collapse dropdown" id="main-nav-collapse">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <h1 class="text-center"><%= @goal.name.titleize %><span class="fa fa-caret-down" style="margin-left: 20px; font-size: 24px;"></span></h1>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><%= link_to "Log Activity", new_goal_activity_path(@goal) %></li>
              <li><%= link_to "Edit Goal", edit_goal_path(@goal) %></li>
              <li><%= link_to "Delete Goal", goal_path, method: :delete, data: {confirm: "Are you sure you want to delete the goal?"} %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "New Goal", new_goal_path %></li>
            </ul>
          </a>
        </div>
      </div>
      <hr>
      <h4 class="text-center">"<%= @goal.description %>" - <%= @goal.user.email %></h4>
      <p class="text-center"><%= goal_level_set_difference %></p>
      <hr>
      <h4>Monthly Progress</h4>
      </br>
      <div class="well chart-well"><%= line_chart @activities.group_by_day(:created_at, last: 30).sum(:total_xp), library: { hAxis: { format: 'dd/MM' }, vAxis: { viewWindow: {min: 0, max: (@goal.xp*100) } }, pointSize: 4 } %></div>
    </div>
    <div class="col-md-3">
      <a data-toggle="collapse" data-parent="#accordian" href="#collapseOne">
        <h4 class="log-activity">Log Activity<span class="fa fa-caret-down" style="margin-left: 5px"></span></h4>
      </a>
      <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
          <%= render 'activities/form' %>
        </div>
      </div>
      <hr class="hr-activity-bar">
      <div class="recent-activity">
        <h4 class="recent-activity-header">Recent Activity</h4>
        <% if @goal_activities.count > 0 %>
          <% @goal_activities.each do |activity| %>
            <div class="well well-activity <%= cycle(" ", "bg-white")%>">
              <p class="text-center">You completed <%= pluralize(activity.quantity, "set") %> of <%= (activity.goal.name).downcase %> - <strong><%= activity.quantity*activity.goal.xp %>xp</strong></p>
              <div class="text-center">
                <small><%= time_ago_in_words(activity.created_at) %> ago </small>
              </div>
              <div class="activity-actions">
                <%= link_to goal_activity_path(goal_id: activity.goal_id, id: activity.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-default" do %>
                  <i class="fa fa-trash-o"></i>
                <% end %>
                </div>
            </div>
          <% end %>
        <% else %>
          <br>
          <div class="text-center">
            <p>You have no activities recorded yet! Log your first one by click on the button blelow</p>
            <br>
            <%= link_to "Log Activity", new_goal_activity_path(@goal), class:"btn btn-default btn-md" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>