<!DOCTYPE html>
<html>
  <head>
    <title>Goaltracka</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    '//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.google.com/jsapi" %>
  </head>
  
  <%= render 'layouts/navigation' %>
  
  <body>
    <div class="flash-container text-center col-xs-6 col-xs-offset-3">
      <% flash.each do |type, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{type}"  %>
      <% end %>
    </div>
    <div style="margin-top: 70px; margin-bottom: 30px;">
    <%= yield %>
    </div>
  </body>
</html>
